@import url(../css/main.css);
.titl{
    text-align: center;  
    font-size: 40px; 
   }
.titl span{
    color:var(--shadon);
    font-weight: bold;
  }
.card1{
    width: 200px;
    height: 300px;
    position: relative;
    perspective: 800px;
  }
  
  .front, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    border: 2px solid #03FA6E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .front{
    background-color: #fdfafa;
    color: #080808;
  }
  
  .front img{
   align-items: centers;
   width: 100%;
   height: 100%;
    
    
  }
  .front h1{
    position: absolute;
    top:0;
    width: 100%;
    padding: 10px;
    color: var(--shadon);
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
  }
  .front span{
    position: absolute;
    bottom:0cm;
    width: 100%;
    padding: 10px;
    color: var(--text-color);
    text-align: left;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,92,29,1) 69%, rgba(252,176,69,1) 100%);
  }
  .front i{
    position: absolute;
    bottom:0cm;
    width: 100%;
    padding: 10px;
    color: var(--text-color);
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    right: 0;
  }
   button {
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--shadon);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 2em;
  font-weight: bold;
  font-size: 20px;
  }
  button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--shadon);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  button:hover {
    background-color: var(--hover-color);
  }
  
  button:hover .arrow {
    background: var(--secondary-color);
  }
  
  button:hover .arrow:before {
    right: 0;
  }
  .menu-card{
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 2.5rem;
      align-items: center;
      margin-left: -180px;
  }