/* Import de fontes */
@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');
@import url(../css/card.css);
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Handjet&display=swap');
@import url(../css/card_menu.css);

/* Configurações gerais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Handjet', cursive;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* Cores da aplicação */
:root {
    --main-color: #ffd727;
    --text-color: #fff;
    --shadon: #f1400a;
    --bg-color: #121214;
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font: 0.9rem;
    --border:
    border-width: 2px,
    border-style: dashed,
    border-color: #0F0;
}

/* Marcação de seleção */
*::selection {
    background: rgb(255, 94, 0);
    color: red;
}

/* Estilo do corpo */
body {
    color: var(--text-color);
    animation-name: cores;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

/* Animação das cores de fundo */
@keyframes cores {
    0% { background: #000000; }
    25% { background: #1c1d1d; }
    50% { background: #1C1C1C; }
    75% { background: #1c1d1d; }
    100% { background: #000000; }
}

/* Estilo do cabeçalho */
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    animation-name: cores;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Estilo do logotipo */
.logo {
    color: var(--main-color);
    font-weight: 800;
    font-size: 3.5rem;
    text-shadow: var(--shadon) 0.1em 0.1em 0.2em;
    animation: go-back 10s infinite alternate;
}
@keyframes go-back {
    from {
      transform: translateX(50px);
    }
    to {
      transform: translateX(0);
    }
  }

/* Estilo da barra de navegação */
.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 10px 20px;
    font-weight: 800;
}

.navbar a:hover {
    color: var(--main-color);
    transition: 0.4s;
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* Estilo das seções */
section {
    padding: 200px 25%;
}

.home {
    border-width: 3px;
   border-style: dashed;
    border-color: rgb(133, 136, 133);
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.principal-img {
    min-width: 100%;
    width: 500px;
    height: auto;
}

.home-text h1 {
    font-size: var(--big-font);
    color: var(--main-color);
}

.home-text h2 {
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #0a0a0a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 0.6rem;
}

.btn:hover {
    transform: scale(1.2) translateY(8px);
    transition: 0.4s;
}
